chromadb==0.4.14
ffmpeg==1.4
ffmpeg-python==0.2.0
fqdn==1.5.1
from-root==1.3.0
jupyterlab==4.0.5
langchain==0.0.250
librosa==0.10.1
moviepy==1.0.3
openai==0.27.8
pypdf==3.17.0
# pysqlite3-binary==0.5.2.post1
pytube==15.0.0
# semantic-version==2.8.5
sentence-transformers==2.2.2
streamlit==1.28.0
tiktoken==0.4.0
transformers==4.34.0
# torchaudio==2.0.2
whisper==1.1.10

-e .